.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    justify-items: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.e-wallet {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    justify-items: center;
}

.e-wallet__cardstack{
    position: absolute;

}

.card{
    height: 241px;
    width: 382px;
    border-radius: 8px;
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
}

.a-card{
    height: 241px;
    width: 382px;
    border-radius: 8px;
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
}